<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 设置最大允许的上传文件大小，这里设置为10MB -->
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
    </staticContent>
  </system.webServer>
</configuration> 
 
 